/* :root { */
/*основні кольори*/
/* --primary-text-color: #212121;
  --secondary-text-color: rgb(117, 117, 117);
  --white-text-color: #ffffff;
  --accent-color: rgb(33, 150, 243);
  --black-logo-color: #000000;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --white-background-color: #ffffff;
  --head-background-color: #2f303a;
  --team-background-color: #f5f4fa;
} */
/*каркас сайту*/
/* body {
  font-family: 'Roboto';
  font-style: normal;
  letter-spacing: 0.03em;
  background-color: var(--white-background-color);
  color: var(--primary-text-color);
} */

/* .section {
  padding-top: 94px;
  padding-bottom: 94px;
} */

/* ---------- */

/* .container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
} */
/* .list {
  margin: 0;
  padding: 0;
  list-style: none;
} */

/* .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
} */

/* h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.button,
.inlist-button-pholio {
  cursor: pointer;
}

img {
  display: block;
}

input,
textarea {
  outline: transparent;
} */

/*-----header---------*/
/* .header {
  border-bottom: 1px solid #ececec;
}
.header__container {
  display: flex;
  align-items: center;
} */

/*синій логотип*/
/* .header__logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo__dark {
  color: var(--black-logo-color);
}

.nav {
  display: flex;
  align-items: center;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.nav__list {
  display: flex;
  align-items: center;
  margin-left: 93px;
}

.nav__link {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__list .nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__list .nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.contacts {
  display: flex;
  margin-left: auto;
}

.contacts .contacts__link + .contacts__link {
  margin-left: 50px;
}

.contacts .contacts__item + .contacts__item {
  margin-left: 50px;
}

.nav__link.nav__link--active::after {
  position: absolute;
  display: block;
  content: '';
  width: 100%;
  height: 4px;
  border-radius: 2px;
  bottom: -1px;
  background-color: var(--accent-color);
}

.contacts__link {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  align-items: center;
  color: var(--secondary-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

.nav__link:hover,
.nav__link:focus,
.contacts__link:hover,
.contacts__link:focus,
.nav__item:hover,
.nav__item:focus {
  color: var(--accent-color);
}

.nav__item .nav__link--active:visited {
  color: var(--accent-color);
} */

/*-------Студія--------*/
/*-------------------- */
/*-----Заголовок------*/

/* .hero {
  background-color: #2f303a;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  align-items: center;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/imgh1backgr.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-text-color);
  text-align: center;
  width: 696px;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.button {
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--white-text-color);
  border: 1px solid transparent;

  border-radius: 4px;
  padding: 10px 32px;
  margin: auto;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  background-color: #188ce8;
  color: var(--white-text-color);
} */

/* ----------особливості------- */

/* .specials__list {
  display: flex;
  gap: 30px;
}

.specials__item {
  width: 270px;
}

.specials__thumb {
  display: flex;
  width: 270px;
  height: 120px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: var(--team-background-color);
}
.specials__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin-bottom: 10px;
}

.specials__text {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
} */

/* ----------чим ми займаємось---------- */
/* .work {
  padding-top: 0;
}

.work__title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--primary-text-color);
}

.work__list {
  display: flex;
  gap: 30px;
}

.item__title-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.work__item-title {
  display: flex;
  position: absolute;
  justify-content: center;

  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: rgba(47, 48, 58, 0.8);

  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
} */

/* ------наша команда------- */
/* .team {
  background-color: var(--team-background-color);
}

.team__title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.team__items {
  display: flex;
  gap: 30px;
}

.team__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__item-description {
  background-color: var(--white-background-color);
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  border-radius: 4px;
}

.team__item-title {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.team__item-text {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);

  margin-bottom: 16px;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.socials__item {
  width: 44px;
  height: 44px;
}

.socials__link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #afb1b8;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials__link:hover,
.socials__link:focus {
  color: var(--white-text-color);
  background-color: var(--accent-color);
}

.socials__icon {
  fill: currentColor;
} */

/* постійні клієнти */

/* .clients__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
} */

/* .clients__list {
  display: flex;
  gap: 30px;
  align-items: center;
}
.clients-item {
  width: 170px;
  height: 92px;
}

.client-link {
  width: 170px;
  height: 92px;
  display: flex;
  border: 1px solid rgba(175, 177, 184, 1);
  border-radius: 4px;
  color: #afb1b8;
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-link:hover,
.client-link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.clients-list__icon {
  fill: currentColor;
} */

/*-------Портфоліо------*/
/* .buttons-folio {
  margin-bottom: 50px;
  text-align: center;
}

.buttons-folio-list {
  display: flex;
  justify-content: center;
  gap: 8px;

  margin-bottom: 50px;
}

.inlist-button-pholio {
  margin: auto;
  padding: 6px 22px;

  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(--team-background-color);
  color: var(--primary-text-color);
  border: 1px solid transparent;

  border-radius: 4px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.all {
  min-width: 73px;
  padding: 6px 25px;
}
.inlist-button-pholio:hover,
.inlist-button-pholio:focus {
  background-color: var(--accent-color);
  color: var(--white-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-link {
  display: block;
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06),
    0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.portfolio-link:hover .portfolio-overlay,
.portfolio-link:focus .portfolio-overlay {
  transform: translateY(0);
}

.portfolio-pictures {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.portfolio-link-photo {
  position: relative;

  overflow: hidden;
}

.portfolio-overlay {
  position: absolute;
  transform: translateY(100%);

  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 63px 24px;

  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-head {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);

  margin-bottom: 4px;
}

.project-info {
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
} */

/* -----нижня частина footer------- */

/* .footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer_wrapper {
  display: flex;
  align-items: baseline;
} */

/* адреса */

/* .footer__logo {
  display: inline-block;
  margin-bottom: 20px;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  color: var(--accent-color);
  letter-spacing: 0.03em;
}

.logo__white {
  color: var(--white-text-color);
}

.footer__address-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer__address-link {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--footer-text-color);
  font-style: normal;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__address-link:hover,
.footer__address-link:focus {
  color: var(--accent-color);
}

.accent {
  color: var(--white-text-color);
} */

/* флекс іконки */

/* .footer__socials {
  margin-left: 70px;
  width: 206px;
}

.footer__socials-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;

  margin-bottom: 20px;
}

.socials__link--secondary {
  color: var(--white-text-color);
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

/* кнопка підписатися */

/* .subscribe__form {
  margin-left: 93px;
}
.subscribe__form-title {
  display: block;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  color: var(--white-text-color);
}

.subscribe__form-field {
  display: flex;
}

.subscribe__form-input {
  padding: 0;
  padding-left: 16px;
  width: 358px;

  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe__form-input:focus,
.subscribe__form-input:focus-visible {
  border-color: var(--accent-color);
  outline: var(--accent-color);
}

.subscribe__form-btn {
  display: flex;
  align-items: center;
  padding: 10px 29px;
  margin-left: 12px;

  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  border: none;
  border-radius: 4px;

  color: #ffffff;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe__form-btn > .btn__send {
  margin-left: 10px;
  fill: currentColor;
}

.subscribe__form-btn:hover,
.subscribe__form-btn:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
} */

/* ---модальне вікно--- */

/* .backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.2);
}

.modal {
  position: relative;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  padding: 40px;

  width: 528px;
  min-height: 581px;

  background-color: var(--white-background-color);

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 8px;
  top: 8px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.modal-close-button:hover,
.modal-close-button:focus {
  fill: var(--accent-color);
} */

/* ---форма реєстрації--- */

/* .modal__form-title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.form-items {
  margin-bottom: 20px;
}

.form-field {
  display: block;
}

.form-field {
  position: relative;
  display: block;
}

.form-field:not(:last-child) {
  margin-bottom: 10px;
}

.form-label {
  display: block;
  margin-bottom: 4px;
  color: var(--secondary-text-color);

  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
}

.form-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  padding-right: 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  border-color: var(--accent-color);
}

.form-icon {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus + .form-icon {
  fill: var(--accent-color);
}

.form-icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
}

.form-message {
  width: 100%;
  height: 120px;
  padding: 12px 16px;

  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-message::placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.form-message:focus {
  border-color: var(--accent-color);
}

.form-agreement {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-bottom: 30px;
}

.form-btn {
  display: block;
  min-width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;

  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: var(--white-text-color);

  border: none;
  background-color: var(--accent-color);

  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-btn:hover,
.form-btn:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.form-checkbox {
  position: absolute;
  opacity: 0;
  transform: scale(0);
}

.form-icon-unchecked {
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-checkbox:checked + .form-checkbox-icon .form-icon-unchecked {
  opacity: 0;
}

.form-icon-checked {
  opacity: 0;
  background: transparent;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-checkbox:checked + .form-checkbox-icon .form-icon-checked {
  opacity: 1;
  fill: var(--accent-color);
}

.form-agreement-text {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
  user-select: none;
}

.form-agreement-link {
  text-decoration: underline;
  text-underline-position: under;
  color: var(--accent-color);
} */
