:root {
    /*основні кольори*/
    --primary-text-color: #212121;
    --secondary-text-color: rgb(117, 117, 117);
    --white-text-color: #ffffff;
    --accent-color: rgb(33, 150, 243);
    --black-logo-color: #000000;
    --footer-text-color: rgba(255, 255, 255, 0.6);
    --white-background-color: #ffffff;
    --head-background-color: #2f303a;
    --team-background-color: #f5f4fa;
}